:root {
  --c1: black;
  --c2: hsl(207, 14%, 36%);
  --c3: hsl(207, 14%, 52%);
  --c4: hsl(207, 14%, 68%);
  --c5: hsl(205, 20%, 78%);
  --c6: hsl(207, 20%, 92%);
  --icons: rgb(20, 23, 26);
  --selection: rgba(29, 161, 242, 0.08);
  --selectionHover: rgba(29, 161, 242, 0.2);
  --buttonWhite: white;
  --buttonWhiteText: hsl(207, 14%, 28%);
  --bg0: white;
  --bg0_transparent: rgba(255, 255, 255, 0);
  --bg1: rgb(253, 253, 254);
  --bg1_transparent: rgba(253, 253, 254, 0);
  --bg2: hsl(204, 33%, 98%);
  --bg3: hsl(204, 33%, 97%);
  --bg4: hsl(204, 33%, 94%);
  --tooltip: rgb(253, 253, 254);
  --twitter_accent: rgb(29, 161, 242);
  --accent1: rgb(29, 161, 242);
  --accent1rgb: 29, 161, 242;
  --accent2: rgb(29, 161, 242);
  --error: hsl(360, 90%, 60%);
  --errorHighlighting: hsla(352, 100%, 55%, 0.2);
  --success: hsl(130, 55%, 44%);
  --success-transparent: hsla(130, 55%, 44%, 0.1);
  --orange: hsl(29, 100%, 58%);
  --dark-orange: hsl(29, 90%, 50%);
  --uiBorderColor: hsl(204, 25%, 94%);
  --shadowColor: hsla(200, 60%, 20%, 0.05);
  --modalBackground: hsla(0, 0%, 0%, 0.2);
  --verified-badge: rgb(29, 161, 242);
}

body {
  background-color: var(--bg0);
  margin: 0 !important;
  padding: 0 !important;
  /* System Fonts as used by GitHub */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
}

.main-container {
  text-align: center;
  overflow: hidden;
}

#app {
  border-radius: 3px;
  border: 1px solid var(--c6);
  margin: 15px;
  background-color: var(--bg0);
}

.header_container {
  margin: 0 !important;
  padding: 0 !important;
  top: 0 !important;
  font-size: 14.5px;
}

.title {
  font-weight: 700;
  color: var(--c1);
}

.tab {
  /* padding: 25px; */
  color: var(--c1);
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

.tab_container {
  margin-top: 0;
  z-index: 5;
  width: 100%;
}

.tab_box {
}

.tab-icon {
  padding-right: 8px;
}

ul {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--uiBorderColor);
}

ul.inline {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

ul.inline,
li {
  display: inline-block;
  margin-left: 0;
  padding: 10px;
  transition: all 0.5s;
  font-weight: 500;
  cursor: pointer;
  color: var(--c3);
}

ul.inline,
li.selected {
  background: var(--accent1);
  border-radius: 7.86241% / 24%;
  color: white;
  margin-top: 5px;
  padding: 5px 10px;
}

ul.inline,
li:hover {
  color: var(--c1);
}

ul.inline,
li.selected:hover {
  color: white;
}

.header-right {
  right: 10%;
  position: absolute;
}

.new-container {
  width: auto;
  position: absolute;
  padding: 10px;
  cursor: pointer;
  color: var(--c3);
  display: flex;
  right: 0;
}

.new-container:hover {
  color: var(--c1);
}

.about-container {
  position: absolute;
  width: auto;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  color: var(--c3);
  display: flex;
}

.about-container:hover {
  color: var(--c1);
}

.info {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  white-space: pre-wrap;
}

.carpet-plots-image {
  margin-top: 2%;
}

.dd-menu {
  color: var(--c1);
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 2%;
  margin-top: 2%;
}

.dd-option {
  color: var(--c3);
}

.plot-container-out {
  /* margin: 20px auto; */
  width: 100%;
  height: auto;
  background-color: #fff;
  display: table;
}

.plot-container-in {
  /* margin: 20px auto; */
  width: 50%;
  height: auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-row: auto auto;
  grid-column-gap: 5%;
  grid-row-gap: 6%;
  float: left;
  position: absolute;
  /* display: table-cell; */
}

.plot-box {
  background-color: white;
  padding: 5px 30px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
  width: 100%;
  height: 99%;
  position: relative;
}

.component-plots-image {
  display: flex;
  width: 45%;
  float: right;
  margin-top: 5%;
}

.imgComponentPlot {
  max-width: 100% !important;
  width: 100%;
}

/* Pop up card */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  border-radius: 16px;
  padding: 30px 60px;
  height: fit-content;
  width: 400px;
  z-index: 11;
}

.popup_title {
  margin-block-start: 0;
  font-weight: 800;
  font-size: 24px;
}

.popup_text {
  font-size: 15px;
}

.popup_close_button_container {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 29px;
  height: 29px;
  border-radius: 29px;
  display: flex;
  cursor: pointer;
  color: var(--c3);
  background: var(--bg4);
}

input[type="file"] {
  display: none;
}

.popup-button {
  box-sizing: border-box;
  width: 200px;
  max-width: 100%;
  outline: none;
  user-select: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 1s cubic-bezier(0.6, 0, 0.4, 1) 0s;
  z-index: 1;
  opacity: 1;
  border: 1px solid var(--accent1);
  background: var(--accent1);
  border-radius: 20px;
  padding: 0px 16px;
  color: white;
  line-height: 1.3;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0px;
  height: 39px;
  flex: 1 1 0%;
  margin-top: 10px;
}

.popup-button:hover {
  cursor: pointer;
}

.popup-button-label:hover {
  cursor: pointer;
}

.close {
  position: absolute;
  opacity: 0.3;
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 2px;
  top: 5px;
  right: 26px;
}
/* .close:hover {
  opacity: 1;
} */
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #000;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.about-link {
  text-decoration: none;
  color: white;
}

.about-link:hover {
  text-decoration: none;
  color: white;
}
