:root {
  min-height: 100% !important;
  height: 100%;
}

html,
body {
  min-height: 100% !important;
  height: 100%;
}

body {
  background-color: var(--bg0);
  margin: 0 !important;
  padding: 0 !important;
  /* System Fonts as used by GitHub */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
}

#app {
  border-radius: 3px;
  border: 1px solid var(--c6);
  margin: 15px;
  background-color: var(--bg0);
}

.title {
  font-weight: 700;
  color: var(--c1);
}

ul {
  display: flex;
  justify-content: center;
}

ul.inline {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.carpet-plots-image {
  margin-top: 2%;
}

.dd-menu {
  color: var(--c1);
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 2%;
  margin-top: 2%;
}

.dd-option {
  color: var(--c3);
}

.plot-container-in {
  grid-template-columns: 40% 40%;
  grid-row: auto auto;
}

/* .plot-box {
  background-color: white;
  padding: 5px 30px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
  width: 100%;
  height: 99%;
  position: relative;
} */

.component-plots-image {
  display: flex;
  width: 45%;
  float: right;
}

.kappa_rho {
  padding-top: 10px;
}

input[type="file"] {
  display: none;
}

.close {
  position: absolute;
  opacity: 0.3;
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 2px;
  top: 5px;
  right: 26px;
}
/* .close:hover {
  opacity: 1;
} */
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #000;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.about-link {
  text-decoration: none;
  color: white;
}

.about-link:hover {
  text-decoration: none;
  color: white;
}

/* Selected tab */
[data-selected] {
  color: black;
}
